<nav class="usa-breadcrumb" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list margin-top-0">
        <li class="usa-breadcrumb__list-item">
            <a href="{{ site.baseurl }}/" class="usa-breadcrumb__link">
                <span>Home</span>
            </a>
        </li>
        {% for item in page.breadcrumbs %}
        <li class="usa-breadcrumb__list-item">
            <a href="{{ site.baseurl }}/{{ item.url }}" class="usa-breadcrumb__link">
                <span>{{ item.name }}</span>
            </a>
        </li>
        {% endfor %}
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
            <span>{{ page.title }}</span>
        </li>
    </ol>
</nav>