<p>Pages in repo:</p>
<ul>
    {% for page in site.pages %}
        {% if page.template-title %}
        <li>
            <a href="{{ site.baseurl }}{{ page.url }}" class="usa-link">{{ page.template-title }}</a><br>
            {{ page.template-description }}
            <iframe id="inlineFrameExample"
                title="Inline Frame Example"
                width="480"
                height="480"
                src="{{ site.baseurl }}{{ page.url }}" class="border-1px border-base-lighter">
            </iframe>   
        </li>
        {% endif %}
    {% endfor %}
    
</ul>

<ul>
    {% for page in site.pages %}
        {% if page.template-title %}
        <ul class="usa-card-group">
    {% for page in site.pages %}
        {% if page.template-title %}   
            <li class="usa-card">
                <div class="usa-card__container">
                    <div class="usa-card__body">
                        <h2>{{ page.template-title }}</h2>
                        <p>{{ page.template-description }}</p>
                        <iframe id="inlineFrameExample"
                            title="Inline Frame Example"
                            width="400"
                            height="320"
                            src="{{ site.baseurl }}{{ page.url }}" class="border-1px border-base-lighter">
                        </iframe>
                    </div>
                    <div class="usa-card__footer">
                        <button class="usa-button display-inline-block margin-bottom-2">Open fullscreen</button> <button class="usa-button usa-button--outline display-inline-block">Open in Figma</button>
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
    
</ul>
        {% endif %}
    {% endfor %}
    
</ul>