<!doctype html>

{% include head.html %}

<body>
  {% include header-extended.html %}

  <main id="main-content">
    <div class="grid-container flex-align-center margin-y-5">
      <div class="display-flex flex-column flex-align-center">
        <form class="usa-form usa-form--large">
          <fieldset class="usa-fieldset">
            <legend class="usa-legend">
              <h1 class="margin-y-1">
                {{ page.title }}
              </h1>
            </legend>
            <p class="margin-y-1">
              Required fields are marked with an asterisk (<abbr title="required" class="usa-hint usa-hint--required">*</abbr>).
            </p>
            <h2 class="margin-top-6">Contact Details</h2>
            {% for label in page.contact-labels %}
            <label class="usa-label" for="{{label.input-name}}">
              {{ label.label }}
              {% if label.required %}
              <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
              {% else %}
              <abbr title="optional"></abbr>
              {% endif %}              
            </label>
            <input 
            class="usa-input" 
            id="{{label.input-name}}" 
            name="{{label.input-name}}" 
            {% if label.required %} required {% endif %}
            >
            {% endfor %}

            <div class="usa-checkbox margin-top-2">
              <input class="usa-checkbox__input" id="receive-email-updates" type="checkbox" name="receive-email-updates" value="receive-email-updates">
              <label class="usa-checkbox__label" for="receive-email-updates">Yes, I would like to receive updates on my status</label>
            </div>

            <h2 class="margin-top-6">Mailing Address</h2>
            {% for label in page.address-labels %}
            <label class="usa-label" for="{{label.input-name}}">
              {{ label.label }}
              {% if label.required %}
              <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
              {% else %}
              <abbr title="optional"></abbr>
              {% endif %}     
            </label>
            <input 
            class="usa-input" 
            id="{{label.input-name}}" 
            name="{{label.input-name}}" 
            {% if label.required %} required {% endif %}
            >
            
            {% endfor %}

            <div class="usa-checkbox margin-y-5">
              <input class="usa-checkbox__input" id="preferred-address" type="checkbox" name="preferred-address" value="preferred-address">
              <label class="usa-checkbox__label margin-top-3 margin-bottom-2" for="preferred-address">Make this my preferred address</label>
              <button class="usa-button  usa-button--unstyled">Add new</button>
            </div>
            <button class="usa-button margin-bottom-2">Save address</button>
            <button class="usa-button  usa-button--unstyled display-block">Cancel</button>
          </fieldset>
        </form>
      </div>
    </div>
  </main>

  {% include footer.html %}
  {% include foot.html %}