<!doctype html>

{% include head.html %}

<body>
    {% include header-extended.html %}

    <main id="main-content">
        <img src="{{ page.hero-image }}" alt="{{ page.hero-image-alt }}class="width-full">
        <div class="grid-container">
            <h1 class="font-heading-2xl">{{ page.title }}</h1>
            <p>{{ page.byline }}</p>
            <p>{{ page.dateline }}</p>
            <p>
                {% for item in page.labels %}
                <span class="usa-tag text-no-wrap">{{ item.name }}</span>
                {% endfor %}
            </p>
            {{ content }}
            <p>Source: <a href="{{ page.source-url }}" class="usa-link">{{ page.source-domain }}</a></p>
        </div>
    </main>

    {% include footer.html %}
    {% include foot.html %}