<!doctype html>

{% include head.html %}

<body>
    {% include header-extended.html %}
    <main id="main-content">
        <section class="usa-hero" aria-label="Introduction">
          <div class="grid-container">
            <div class="usa-hero__callout">
              <h1 class="usa-hero__heading">
                <span class="usa-hero__heading--alt">{{ page.title }}</span>
              </h1>
              <p>
                {{ page.description }}
              </p>
              <a class="usa-button" href="javascript:void(0)">{{ page.call-to-action }}</a>
            </div>
          </div>
        </section>
      
        <section class="grid-container usa-section">
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4">
              <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">
                {{ page.tagline }}
              </h2>
            </div>
            <div class="tablet:grid-col-8 usa-prose">
              <p>
                {{ page.tagline-subtext-1 }}
              </p>
              <p>
                {{ page.tagline-subtext-2 }}
              </p>
            </div>
          </div>
        </section>

        <section class="usa-graphic-list usa-section usa-section--dark">
          <div class="grid-container">
            <div class="usa-graphic-list__row grid-row grid-gap margin-bottom-8">
              {% for info in page.top-cards %}
              <div class="usa-media-block tablet:grid-col">
                <img
                  class="usa-media-block__img"
                  src="{{ info.image }}"
                  alt=""
                />
                <div class="usa-media-block__body">
                  <h2 class="usa-graphic-list__heading">
                    {{ info.title }}
                  </h2>
                  <p>
                    {{ info.subtitle }}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="grid-container">
            <div class="usa-graphic-list__row grid-row grid-gap">
              {% for info in page.bottom-cards %}
              <div class="usa-media-block tablet:grid-col">
                <img
                  class="usa-media-block__img"
                  src="{{ info.image }}"
                  alt=""
                />
                <div class="usa-media-block__body">
                  <h2 class="usa-graphic-list__heading">
                    {{ info.title }}
                  </h2>
                  <p>
                    {{ info.subtitle }}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>

        <section id="test-section-id" class="usa-section">
          <div class="grid-container">
            <h2 class="font-heading-xl margin-y-0">Section heading</h2>
            <p class="usa-intro">
              Everything up to this point should help people understand your agency or
              project: who you are, your goal or mission, and how you approach it. Use
              this section to encourage them to act. Describe why they should get in
              touch here, and use an active verb on the button below. “Get in touch,”
              “Learn more,” and so on.
            </p>
            <a class="usa-button usa-button--big" href="javascript:void(0);"
              >Call to action</a>
              <p>Source: <a href="{{ page.source-url }}" class="usa-link">{{ page.source-domain }}</a></p>
          </div>
        </section>
      </main>

    {% include footer.html %}
    {% include foot.html %}