<!doctype html>

{% include head.html %}

<body>
    {% include header-extended.html %}

    <main id="main-content">
        <section class="usa-card__header bg-blue-80v">
            <div class="grid-container">
                <h1 class="font-heading-3xl text-accent-cool">{{ page.title }}</h1>
                <h2 class="font-alt-xl text-base-lightest">{{ page.description }}</h2>
            </div>
        </div>
        </section>
       
 <section class="grid-container margin-top-4 margin-bottom-4 border-bottom border-base-light">
    <p class="usa-intro">
		{{ page.intro }}
	</p>
 </section>

 <div class="grid-row grid-gap">
<ul class="usa-card-group">
    {% for article in page.articles %}
<li class="tablet:grid-col-6 usa-card">
    <div class="usa-card__container">
        <header class="usa-card__header">
          <h2 class="usa-card__heading">{{ article.title }}</h2>
    </header>
    <div class="usa-card__media usa-card__media--inset">
        <div class="usa-card__img bg-white">
            <img src="{{ article.image }}" alt="Logo for {{ service.name }}"> 
        </div>
    </div>
    </div>
        </li>
{% endfor %}
</ul>
 </div>



    
    </main>

    {% include footer.html %}
    {% include foot.html %}