<!doctype html>

{% include head.html %}

<body>
    {% include header-extended.html %}

    <main id="main-content">
       
      <section class="usa-card__header bg-blue-80v">
            <div class="grid-container">
                <h1 class="font-heading-3xl text-accent-cool">{{ page.title }}</h1>
                <p class="font-alt-xl text-base-lightest tablet:grid-col-9">{{ page.description }}</p>
            </div>
        </div>
        </section>
       
 <section class="grid-container margin-top-4 margin-bottom-4 border-bottom border-base-light">
    <p class="usa-intro mobile:font-heading-lg tablet:grid-col-9">
		{{ page.intro }}
	</p>
 </section>
 
 <section class="grid-container padding-y-2">
  <div class="grid-row grid-gap">
    <ul class="usa-card-group">
      {% for article in page.articles %}
 <li class="tablet:grid-col-4 usa-card">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <p class="font-alt-2xs text-base-dark">{{ article.source }}</p>
        <a href="{{ article.link-source }}" class="usa-card__heading usa-link text-primary text-no-underline text-bold .hover:underline-primary-text-underline">{{ article.title }}</a>
      </header>
      <div class="usa-card__media">
        <div class="usa-card__img">
          <img
            src="{{ article.image-source }}"
            alt="{{ article.image-alt }}"
            class="minh-card maxh-card"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>
          {{ article.description }}
        </p>
      </div>
      <div class="usa-card__footer">
      </div>
    </div>
  </li>
  {% endfor %}
  </ul>
  <p>For all press inquiries, please contact <a href="mailto: {{ page.contact-email }}" class="usa-link">{{ page.contact-email }}</a></p>
  </div>
  <p>Source: <a href="{{ page.source-url }}" class="usa-link">{{ page.source-domain }}</p>
</section>
    
    </main>

    {% include footer.html %}
    {% include foot.html %}